<form name="form">
    <div class="container-fluid">
        <h1>Pagination Grid</h1>
        <p>{{ partJson }}</p>
        <div style="margin-bottom: 10px;">
            <button class="btn btn-default" ng-click="submitData()" type="button">Submit Form</button>
            <button class="btn btn-default" ng-click="selectedRows()" type="button">Get Selected Rows</button>
            <button class="btn btn-default" ng-click="unSelectedRows()" type="button">Un-Selected Rows</button>
        </div>
        <bs-grid options="gridOptions" on-select="rowSelect" on-db-click-row="dbClickRowSelect" on-pagination-change="pageChange" on-sort-changed="sortChange"></bs-grid>
    </div>
</form>